<a href="https://colab.research.google.com/github/Nicoflyy/T-cnicas-de-Programaci-n/blob/main/Talleres_Ejercicios/Ejercicios_Taller.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1. Leer tres valores, determinar si corresponden a los lados de un triángulo. Si es así, calcular
y escribir el perímetro si el triángulo es rectángulo o su área, en otro caso.

In [ ]:
from math import *

def triangulo(a, b, c):
  if a**2+b**2==c**2 or b**2+c**2==a**2 or c**2+a**2==b**2:
    x = a + b + c
    return 'El triangulo es un triangulo rectangulo y su perimetro es:', x
  else:
    s = (a+b+c)/2
    A = round(sqrt(s*(s-a)*(s-b)*(s-c)), 4)
    return 'El triangulo no es un triangulo rectanculo y su área es: ', A


a = int(input('Ingrese un valor real: '))
b = int(input('Ingrese un valor real: '))
c = int(input('Ingrese un valor real: '))
if a+b>c and b+c>a and c+a>b:
  respuesta = triangulo(a, b, c)
  print(respuesta)

Ingrese un valor real: 3
Ingrese un valor real: 4
Ingrese un valor real: 5
('El triangulo es un triangulo rectangulo y su perimetro es:', 12)

2. Leer el nombre, el peso y la talla de una persona, calcular su índice de masa corporal.
Determinar y escribir si está en estado de bajo peso, normal, sobrepreso, u obesidad.

In [ ]:
def IMB(n,p,t):
  imb = round((p/t**2), 1)
  print(imb)

  if imb < 18.5:
    return 'El paciente', n,  'esta bajo de peso'
  elif 18.5 < imb < 24.9:
    return 'El paciente', n,  'esta bien de peso'
  elif 25 < imb < 29.9:
    return 'El paciente', n,  'se encuentra en sobrepeso'
  elif imb > 30:
    return 'El tiene obesidad'

nombre = str(input('Ingrese el niombre delpaciente: '))
peso = int(input('Ingrese el peso del paciente: '))
estatura = float(input('Ingrese la estatura del paciente en m: '))

etd_paciente = IMB(nombre, peso, estatura)
print(etd_paciente)

Ingrese el niombre delpaciente: nicolas
Ingrese el peso del paciente: 64
Ingrese la estatura del paciente en cm: 1.7
22.1
('El paciente', 'nicolas', 'esta bien de peso')

3.  Leer 3 valores, escribirlos en orden ascendente.

In [ ]:
a = int(input('Ingresein valor entero: '))
b = int(input('Ingresein valor entero: '))
c = int(input('Ingresein valor entero: '))

lista = [a, b, c]
print(lista)
lista.sort()
print(lista)

Ingresein valor real: 6
Ingresein valor real: 5
Ingresein valor real: 4
[6, 5, 4]
[4, 5, 6]

4. Leer las coordenadas (x, y) de un punto en el plano cartesiano, determinar y escribir a qué
cuadrante pertenece basado en el signo, de acuerdo con el gráfico siguiente

![image.png]()

In [ ]:
x = float(input('Ingrese un valor real: '))
y = float(input('Ingrese un valor real: '))

if x>0 and y>0:
  print(f'Las coordenadas {x} y {y} pertenecen al primer cuadrante del plano')
elif x<0 and y>0:
  print(f'Las coordenadas {x} y {y} pertenecen al segundo cuadrante del plano')
elif x<0 and y<0:
  print(f'Las coordenadas {x} y {y} pertenecen al tercer cuadrante del plano')
elif x>0 and y<0:
  print(f'Las coordenadas {x} y {y} pertenecen al cuarto cuadrante de lplano')
elif x==0 and y==0:
  print(f'Las coordenadas {x} y {y} pertenecen al origen del plano')

Ingrese un valor real: -2
Ingrese un valor real: -5
Las coordenadas -2.0 y -5.0 pertenecen al tercer cuadrante del plano

5. Diseñar un algoritmo que imprima las tablas de multiplicar hasta el 9.

In [ ]:
def imprimir_tablas_multiplicar(n):
    for i in range(1, n + 1):
        print(f"Tabla del {i}:")
        for j in range(1, 11):  # Vamos del 1 al 10 para cada tabla
            print(f"{i} x {j} = {i * j}")
        print()  # Imprime una línea en blanco para separar las tablas

# Llamar a la función para imprimir las tablas del 1 al 9
imprimir_tablas_multiplicar(9)

Tabla del 1:
1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Tabla del 2:
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Tabla del 3:
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabla del 4:
4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabla del 5:
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabla del 6:
6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabla del 7:
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Tabla del 8:
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Tabla del 9:
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

6. Leer un ángulo en grados determinar y escribir a qué cuadrante pertenece.

In [ ]:
alpha = float(input('ingrese el valor de aun ángulo de 0° hasta 360°: '))

if 0<=alpha<=90:
  print(f'El angulo {alpha} pertenece al primer cuadrante .')
elif 90<=alpha<=180:
  print(f'El angulo {alpha} pertenece al segundo cuadrante .')
elif 180<=alpha<=270:
  print(f'El angulo {alpha} pertenece al tercer cuadrante .')
elif 270<=alpha<=360:
  print(f'El angulo {alpha} pertenece al cuarto cuadrante .')
else:
  print(f'El angulo {alpha} se sale del rango puesto al inicio')

ingrese el valor de aun ángulo de 0° hasta 360°: 285
El angulo 285.0 pertenece al cuarto cuadrante .

7. Leer el consumo en metros cúbicos de agua de una familia, calcular y escribir el valor de
su factura, teniendo en cuenta lo siguiente: los primeros 20 metros cúbicos se cobran 2000, los siguientes 6 a 2500, y los restantes a $4.000. Así, por ejemplo, una familia que
consuma 35 m3 pagaría 20 en la primera tarifa, 6 en la segunda y el resto (9) en la última
tarifa

In [5]:
def TF(x):
  if x <= 20:
    precio = x*2000
    return precio

  elif 20 > x <= 26:
    precio = 20*2000 + (x-20)*2500
    return precio

  else:
    precio = 20*2000 + 6*2500 + (x-26)*4000
    return precio

consumo = int(input(f'Ingrese el consumo de agua de una familia en m3: '))
tarifa = TF(consumo)
print(tarifa)

Ingrese el consumo de agua de una familia en m3: 35
91000

8. Diseñar un programa que lea 20 valores y determine y escriba cuál fue el mayor valor
leído.

In [8]:
n = 0
lista = []

while n < 20:
  n += 1
  x = float(input('Ingrese un valor numerico flotante o entero: '))
  lista.append(x)

Valor_Maximo = max(lista)

print('El valor máximo de los valores ingresados es: 'Valor_Maximo)

Ingrese un valor numerico flotante o entero: 0
Ingrese un valor numerico flotante o entero: 2
Ingrese un valor numerico flotante o entero: 4
Ingrese un valor numerico flotante o entero: 6
Ingrese un valor numerico flotante o entero: 8
Ingrese un valor numerico flotante o entero: 10
Ingrese un valor numerico flotante o entero: 12
Ingrese un valor numerico flotante o entero: 14
Ingrese un valor numerico flotante o entero: 16
Ingrese un valor numerico flotante o entero: 18
Ingrese un valor numerico flotante o entero: 20
Ingrese un valor numerico flotante o entero: 22
Ingrese un valor numerico flotante o entero: 24
Ingrese un valor numerico flotante o entero: 26
Ingrese un valor numerico flotante o entero: 28
Ingrese un valor numerico flotante o entero: 30
Ingrese un valor numerico flotante o entero: 32
Ingrese un valor numerico flotante o entero: 34
Ingrese un valor numerico flotante o entero: 36
Ingrese un valor numerico flotante o entero: 38
38.0

9. Calcular y escribir el valor de pi, dado por la serie:
4(1-1/3+1/5-1/7+1/9-1/11+ …)

In [ ]:
def calcular_pi(num_terminos):
    suma = 0.0
    for i in range(num_terminos):
        termino = (-1) ** i / (2 * i + 1)
        suma += termino
    pi = 4 * suma
    return pi

def main():
    # Definir el número de términos en la serie
    num_terminos = int(input("Introduce el número de términos para calcular π: "))

    # Calcular π
    pi_estimado = calcular_pi(num_terminos)

    # Mostrar el resultado
    print(f"La estimación de π con {num_terminos} términos es: {pi_estimado}")

if __name__ == "__main__":
    main()

10. Diseñar un algoritmo que convierta una temperatura dada en una escala a temperatura en
otra escala que se pida.\
La relación entre las diferentes escalas de temperaturas está dada por la siguiente relación:\
C/5 = R/4 = (F - 32) / 9 \
Siendo C=Celsius, R= Reamur, F=Fahrenhei

In [ ]:
def Cambio_Escala(t, x, y):


T = float(input('Ingrese el valor de la temperatura: '))
origen = input('Ingrese la escala de temperatura en la que se encuentra el valor anterior (C, F, R): ')
destino = input('Ingrese la escala de tempratura a la cual quiere llevar la temperatura (C, F, R): ')

cambio_esc = Cambio_Escala(T, origen, destino)