<a href="https://colab.research.google.com/github/Nicoflyy/T-cnicas-de-Programaci-n/blob/main/Talleres_Ejercicios/Ejercicios_Taller.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1. Leer tres valores, determinar si corresponden a los lados de un triángulo. Si es así, calcular
y escribir el perímetro si el triángulo es rectángulo o su área, en otro caso.

In [ ]:
from math import *

def triangulo(a, b, c):
  if a**2+b**2==c**2 or b**2+c**2==a**2 or c**2+a**2==b**2:
    x = a + b + c
    return 'El triangulo es un triangulo rectangulo y su perimetro es:', x
  else:
    s = (a+b+c)/2
    A = round(sqrt(s*(s-a)*(s-b)*(s-c)), 4)
    return 'El triangulo no es un triangulo rectanculo y su área es: ', A


a = int(input('Ingrese un valor real: '))
b = int(input('Ingrese un valor real: '))
c = int(input('Ingrese un valor real: '))
if a+b>c and b+c>a and c+a>b:
  respuesta = triangulo(a, b, c)
  print(respuesta)

Ingrese un valor real: 3
Ingrese un valor real: 4
Ingrese un valor real: 5
('El triangulo es un triangulo rectangulo y su perimetro es:', 12)

2. Leer el nombre, el peso y la talla de una persona, calcular su índice de masa corporal.
Determinar y escribir si está en estado de bajo peso, normal, sobrepreso, u obesidad.

In [ ]:
def IMB(n,p,t):
  imb = round((p/t**2), 1)
  print(imb)

  if imb < 18.5:
    return 'El paciente', n,  'esta bajo de peso'
  elif 18.5 < imb < 24.9:
    return 'El paciente', n,  'esta bien de peso'
  elif 25 < imb < 29.9:
    return 'El paciente', n,  'se encuentra en sobrepeso'
  elif imb > 30:
    return 'El tiene obesidad'

nombre = str(input('Ingrese el niombre delpaciente: '))
peso = int(input('Ingrese el peso del paciente: '))
estatura = float(input('Ingrese la estatura del paciente en m: '))

etd_paciente = IMB(nombre, peso, estatura)
print(etd_paciente)

Ingrese el niombre delpaciente: nicolas
Ingrese el peso del paciente: 64
Ingrese la estatura del paciente en cm: 1.7
22.1
('El paciente', 'nicolas', 'esta bien de peso')

3.  Leer 3 valores, escribirlos en orden ascendente.

In [ ]:
a = int(input('Ingresein valor entero: '))
b = int(input('Ingresein valor entero: '))
c = int(input('Ingresein valor entero: '))

lista = [a, b, c]
print(lista)
lista.sort()
print(lista)

Ingresein valor real: 6
Ingresein valor real: 5
Ingresein valor real: 4
[6, 5, 4]
[4, 5, 6]

4. Leer las coordenadas (x, y) de un punto en el plano cartesiano, determinar y escribir a qué
cuadrante pertenece basado en el signo, de acuerdo con el gráfico siguiente

![image.png]()

In [ ]:
x = float(input('Ingrese un valor real: '))
y = float(input('Ingrese un valor real: '))

if x>0 and y>0:
  print(f'Las coordenadas {x} y {y} pertenecen al primer cuadrante del plano')
elif x<0 and y>0:
  print(f'Las coordenadas {x} y {y} pertenecen al segundo cuadrante del plano')
elif x<0 and y<0:
  print(f'Las coordenadas {x} y {y} pertenecen al tercer cuadrante del plano')
elif x>0 and y<0:
  print(f'Las coordenadas {x} y {y} pertenecen al cuarto cuadrante de lplano')
elif x==0 and y==0:
  print(f'Las coordenadas {x} y {y} pertenecen al origen del plano')

Ingrese un valor real: -2
Ingrese un valor real: -5
Las coordenadas -2.0 y -5.0 pertenecen al tercer cuadrante del plano

5. Diseñar un algoritmo que imprima las tablas de multiplicar hasta el 9.

In [ ]:
def imprimir_tablas_multiplicar(n):
    for i in range(1, n + 1):
        print(f"Tabla del {i}:")
        for j in range(1, 11):  # Vamos del 1 al 10 para cada tabla
            print(f"{i} x {j} = {i * j}")
        print()  # Imprime una línea en blanco para separar las tablas

# Llamar a la función para imprimir las tablas del 1 al 9
imprimir_tablas_multiplicar(9)

Tabla del 1:
1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Tabla del 2:
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Tabla del 3:
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabla del 4:
4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabla del 5:
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabla del 6:
6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabla del 7:
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Tabla del 8:
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Tabla del 9:
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

6. Leer un ángulo en grados determinar y escribir a qué cuadrante pertenece.

In [ ]:
alpha = float(input('ingrese el valor de aun ángulo de 0° hasta 360°: '))

if 0<=alpha<=90:
  print(f'El angulo {alpha} pertenece al primer cuadrante .')
elif 90<=alpha<=180:
  print(f'El angulo {alpha} pertenece al segundo cuadrante .')
elif 180<=alpha<=270:
  print(f'El angulo {alpha} pertenece al tercer cuadrante .')
elif 270<=alpha<=360:
  print(f'El angulo {alpha} pertenece al cuarto cuadrante .')
else:
  print(f'El angulo {alpha} se sale del rango puesto al inicio')

ingrese el valor de aun ángulo de 0° hasta 360°: 285
El angulo 285.0 pertenece al cuarto cuadrante .

7. Leer el consumo en metros cúbicos de agua de una familia, calcular y escribir el valor de
su factura, teniendo en cuenta lo siguiente: los primeros 20 metros cúbicos se cobran 2000, los siguientes 6 a 2500, y los restantes a $4.000. Así, por ejemplo, una familia que
consuma 35 m3 pagaría 20 en la primera tarifa, 6 en la segunda y el resto (9) en la última
tarifa

In [ ]:
def TF(x):
  if x <= 20:
    precio = x*2000
    return precio

  elif 20 > x <= 26:
    precio = 20*2000 + (x-20)*2500
    return precio

  else:
    precio = 20*2000 + 6*2500 + (x-26)*4000
    return precio

consumo = int(input(f'Ingrese el consumo de agua de una familia en m3: '))
tarifa = TF(consumo)
print(tarifa)

Ingrese el consumo de agua de una familia en m3: 35
91000

8. Diseñar un programa que lea 20 valores y determine y escriba cuál fue el mayor valor
leído.

In [ ]:
n = 0
lista = []

while n < 20:
  n += 1
  x = float(input('Ingrese un valor numerico flotante o entero: '))
  lista.append(x)

Valor_Maximo = max(lista)

print('El valor máximo de los valores ingresados es: 'Valor_Maximo)

Ingrese un valor numerico flotante o entero: 0
Ingrese un valor numerico flotante o entero: 2
Ingrese un valor numerico flotante o entero: 4
Ingrese un valor numerico flotante o entero: 6
Ingrese un valor numerico flotante o entero: 8
Ingrese un valor numerico flotante o entero: 10
Ingrese un valor numerico flotante o entero: 12
Ingrese un valor numerico flotante o entero: 14
Ingrese un valor numerico flotante o entero: 16
Ingrese un valor numerico flotante o entero: 18
Ingrese un valor numerico flotante o entero: 20
Ingrese un valor numerico flotante o entero: 22
Ingrese un valor numerico flotante o entero: 24
Ingrese un valor numerico flotante o entero: 26
Ingrese un valor numerico flotante o entero: 28
Ingrese un valor numerico flotante o entero: 30
Ingrese un valor numerico flotante o entero: 32
Ingrese un valor numerico flotante o entero: 34
Ingrese un valor numerico flotante o entero: 36
Ingrese un valor numerico flotante o entero: 38
38.0

9. Calcular y escribir el valor de pi, dado por la serie:
4(1-1/3+1/5-1/7+1/9-1/11+ …)

In [ ]:
def calcular_pi(num_terminos):
    suma = 0.0
    for i in range(num_terminos):
        termino = (-1) ** i / (2 * i + 1)
        suma += termino
    pi = 4 * suma
    return pi

def main():
    # Definir el número de términos en la serie
    num_terminos = int(input("Introduce el número de términos para calcular π: "))

    # Calcular π
    pi_estimado = calcular_pi(num_terminos)

    # Mostrar el resultado
    print(f"La estimación de π con {num_terminos} términos es: {pi_estimado}")

if __name__ == "__main__":
    main()

10. Diseñar un algoritmo que convierta una temperatura dada en una escala a temperatura en
otra escala que se pida.\
La relación entre las diferentes escalas de temperaturas está dada por la siguiente relación:\
C/5 = R/4 = (F - 32) / 9 \
Siendo C=Celsius, R= Reamur, F=Fahrenhei

In [ ]:
def Cambio_Escala(t, x, y):
  if x == 'C' and y == 'F':
    conv = ((9*t)/5)+32
    return conv
  elif x == 'C' and y == 'R':
    conv = (4*t)/5
    return conv
  elif x == 'F' and y == 'C':
    conv = (5*t-32)/9
    return conv
  elif x == 'F' and y == 'R':
    conv = (4*t-32)/9
    return conv
  elif x == 'R' and y == 'C':
    conv = (5*t)/4
    return conv
  elif x == 'R' and y == 'F':
    conv = ((9*t)/9)+32
    return conv

T = float(input('Ingrese el valor de la temperatura: '))
origen = str(input('Ingrese la escala de temperatura en la que se encuentra el valor anterior (C, F, R): '))
o_may = origen.upper()    #Se utiliza el comando ¨.upper¨ para cambiar las variables minusculas a mayuscaulas.
destino = str(input('Ingrese la escala de tempratura a la cual quiere llevar la temperatura (C, F, R): '))
d_may = destino.upper()

cambio_esc = Cambio_Escala(T, o_may, d_may)
print(f'La temperatura de {T} en {origen} a {destino} es {cambio_esc} ')

Ingrese el valor de la temperatura: 45
Ingrese la escala de temperatura en la que se encuentra el valor anterior (C, F, R): C
Ingrese la escala de tempratura a la cual quiere llevar la temperatura (C, F, R): F
La temperatura de 45.0 en C a F es 113.0

11. Leer una base real y un exponente entero, implementar y escribir su potencia con sólo
multiplicaciones y sumas.

In [ ]:
b_real = float(input('Ingrese una base real: '))
e_entero = int(input('Ingrese un exponente entero: '))

12. Leer dos números enteros, calcular y escribir su producto, usando sólo sumas y/o restas

In [ ]:
def multiplicar(a, b):
  cont = 1
  val = a
  while cont < b:
    a += val
    cont +=1
  return a


x = int(input('Ingrese un valor entero: '))
y = int(input('Ingrese un valor entero: '))


res = multiplicar(x, y)
print(f'La multiplicación entre {x} y {y} es: {res}')

Ingrese un valor entero: 6
Ingrese un valor entero: 5
La multiplicación entre 6 y 5 es: 30

13. Diseñar un algoritmo que encuentre el entero positivo más pequeño (num) para el cual la
suma 1 + 2 + 3 + .... + num es mayor que un límite dado (lim).

In [ ]:
def sumatoria(n):
  num = 1
  suma = 1
  while suma <= n:
    num += 1
    suma += num
  return (num)

limite = int(input('Ingrese el limite de la sumatoria: '))

res = sumatoria(limite)

print(f"El entero positivo más pequeño para el cual la suma es mayor que {limite} es {res}.")

Ingrese el limite de la sumatoria: 15
El entero positivo más pequeño para el cual la suma es mayor que 15 es 6.

14. Diseñar un algoritmo que lea un valor correspondiente a un mes y valide si es correcto,
de lo contrario se debe escribir que es incorrecto y se debe volver a leer hasta que se entre
bien. Cuando se haya leído bien el mes, se debe escribir el nombre del mes.

In [17]:
def Buscar_mes():
  dic = {1: 'Enero', 2: 'Febrer0', 3: 'Marzo', 4: 'Abril', 5: 'Mayo', 6: 'Junio', 7: 'Julio', 8: 'Agosto', 9: 'Septiembre', 10: 'Octubre',
         11: 'Nobiembre', 12: 'Diciembre'}

  condicion = True
  while condicion:
    x = int(input('Ingrese el mes que desea buscar: '))
    if 1 <= x <= 12:
      Valor_encontrado = None
      for clave, valor in dic.items():
        if clave == x:
          Valor_encontrado = valor
          return f'El valor {x} pertenece al mes de {valor}'
          break
    else:
      print('el valor de mes es erroneo por favor ingrese un valor que si pertezca a los mese del')
      condicion = True

res = Buscar_mes()
print(res)

Ingrese el mes que desea buscar: 15
el valor de mes es erroneo por favor ingrese un valor que si pertezca a los mese del
Ingrese el mes que desea buscar: 18
el valor de mes es erroneo por favor ingrese un valor que si pertezca a los mese del
Ingrese el mes que desea buscar: 9
El valor 9 pertenece al mes de Septiembre

15. Calcular y escribir los primeros 100 números primos.

In [22]:
def calcular_pri(x):
  cont = 0
  lista = []
  while cont < x:
    cont += 1
    if cont % 2 != 0:
      lista.append(cont)
  return lista

primos = 100

res = calcular_pri(primos)
print(res)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

16. Diseñar un algoritmo que lea las notas de Matemáticas y Física de un grupo de 25
estudiantes. Determinar y escribir cuántos ganaron las dos y cuántos perdieron al menos
una.

In [31]:
def leer_notas(x, y, R):
  cont = 0
  lista_ganaron = []
  lista_perdieron_una = []
  while cont < R:
    cont += 1
    mat = float(input('Ingrese la nota matemáticas del estudiante: '))
    fis = float(input('Ingrese las notas de física del estudiante: '))
    x.append(mat)
    y.append(fis)
    for i in x:
      for j in y:
        if i >= 3.0 and j >= 3.0:
          lista_ganaron.append(i)
          lista_ganaron.append(j)
          A = len(lista_ganaron)
        elif (i >= 3.0 and j <= 3.0):
          lista_perdieron_una.append(i)
          B = len(lista_perdieron_una)
        elif (i <= 3.0 and j >= 3.0):
          lista_perdieron_una.append(j)
          C = len(lista_perdieron_una)


notas_mat = []
notas_fis = []
rango = 3

res = leer_notas(notas_mat, notas_fis, rango)

print(res)

Ingrese la nota matemáticas del estudiante: 3.0
Ingrese las notas de física del estudiante: 3.0
Ingrese la nota matemáticas del estudiante: 2.0
Ingrese las notas de física del estudiante: 3.0
Ingrese la nota matemáticas del estudiante: 3.0
Ingrese las notas de física del estudiante: 3.0

UnboundLocalError: local variable 'B' referenced before assignment

17. Calcular y escribir los primeros 150 números de Fibonacci.

In [32]:
def fibonacci(lim):
  fib = [0,1]

  for i in range(2, lim):
    fib.append(fib[i-1] + fib[i-2])
  return fib


limite = 150
respuesta = fibonacci(limite)
print(respuesta)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026, 354224848179261915075, 573147844013817084101, 927372692193078999176, 1500520536206896083277, 2427893228399975082453, 3928413764606871165730, 6356306993006846248183, 10284720757613717413913, 16641027750620563662096, 26925748508234281076009, 43566776258854844738105, 70492524767089125814114, 114059301025943970552219, 184551825793033096366333, 298611126818977066918552, 483162952612010163284885, 781774079430987230203437, 1264937032042997393488322, 2046711111473984623691759, 3311648143516982017180081, 5358359254990966640871840, 8670007398507948658051921, 14028366653498915298923761, 22698374052006863956975682, 36726740705505779255899443, 59425114757512643212875125, 96151855463018422468774568, 155576970220531065681649693, 251728825683549488150424261, 407305795904080553832073954, 659034621587630041982498215, 1066340417491710595814572169, 1725375039079340637797070384, 2791715456571051233611642553, 4517090495650391871408712937, 7308805952221443105020355490, 11825896447871834976429068427, 19134702400093278081449423917, 30960598847965113057878492344, 50095301248058391139327916261, 81055900096023504197206408605, 131151201344081895336534324866, 212207101440105399533740733471, 343358302784187294870275058337, 555565404224292694404015791808, 898923707008479989274290850145, 1454489111232772683678306641953, 2353412818241252672952597492098, 3807901929474025356630904134051, 6161314747715278029583501626149]

 18. Calcular y escribir la suma de los cuadrados de los impares menores a un número positivo
dado

In [33]:
def calcular_impares(x):
  cont = 0
  suma = 0
  while cont < x:
    cont += 1
    if cont % 2 != 0:
      a = cont**2
      suma += a
  return suma

num = 6

res = calcular_impares(num)
print(f'La suma de los cuadrados de los impares menores al limite {num} es {res}')

La suma de los cuadrados de los impares menores al limite 6 es 35

19. Generar y escribir el valor del seno de 0 a 360 grados, en incrementos de 5 grados.

In [34]:
import math

def calcular_seno():
    # Imprimir el encabezado
    print(f"{'Grados':<10} {'Seno':<10}")

    # Generar y mostrar valores del seno
    for grados in range(0, 361, 5):
        radianes = math.radians(grados)
        seno = math.sin(radianes)
        print(f"{grados:<10} {seno:<10.4f}")

# Ejecutar la función
calcular_seno()

Grados     Seno
0          0.0000
5          0.0872
10         0.1736
15         0.2588
20         0.3420
25         0.4226
30         0.5000
35         0.5736
40         0.6428
45         0.7071
50         0.7660
55         0.8192
60         0.8660
65         0.9063
70         0.9397
75         0.9659
80         0.9848
85         0.9962
90         1.0000
95         0.9962
100        0.9848
105        0.9659
110        0.9397
115        0.9063
120        0.8660
125        0.8192
130        0.7660
135        0.7071
140        0.6428
145        0.5736
150        0.5000
155        0.4226
160        0.3420
165        0.2588
170        0.1736
175        0.0872
180        0.0000
185        -0.0872
190        -0.1736
195        -0.2588
200        -0.3420
205        -0.4226
210        -0.5000
215        -0.5736
220        -0.6428
225        -0.7071
230        -0.7660
235        -0.8192
240        -0.8660
245        -0.9063
250        -0.9397
255        -0.9659
260        -0.9848
265        -0.9962
270        -1.0000
275        -0.9962
280        -0.9848
285        -0.9659
290        -0.9397
295        -0.9063
300        -0.8660
305        -0.8192
310        -0.7660
315        -0.7071
320        -0.6428
325        -0.5736
330        -0.5000
335        -0.4226
340        -0.3420
345        -0.2588
350        -0.1736
355        -0.0872
360        -0.0000

 20. Diseñar un algoritmo que simule el lanzamiento de un dado (usar la función random
multiplicada por 6) 500 veces. Calcular y escribir cuántas veces salió cada número (1 a
6).

In [43]:
import random
from collections import Counter

def lanzar_dado(num_lanzamientos):
    """Simula el lanzamiento de un dado num_lanzamientos veces y cuenta la frecuencia de cada número del dado."""
    resultados = []

    for _ in range(num_lanzamientos):
        # Simula el lanzamiento del dado
        dado = int(random.random() * 6) + 1
        resultados.append(dado)

    # Contar la frecuencia de cada número
    conteo = Counter(resultados)
    return conteo

def imprimir_resultados(conteo):
    """Imprime el conteo de cuántas veces salió cada número del dado."""
    print("Resultados del lanzamiento del dado:")
    for numero in range(1, 7):
        print(f"Número {numero}: {conteo.get(numero, 0)} veces")

# Número de lanzamientos
num_lanzamientos = 500

# Realizar los lanzamientos y contar los resultados
conteo = lanzar_dado(num_lanzamientos)

# Imprimir los resultados
imprimir_resultados(conteo)

Resultados del lanzamiento del dado:
Número 1: 81 veces
Número 2: 81 veces
Número 3: 89 veces
Número 4: 91 veces
Número 5: 79 veces
Número 6: 79 veces

21. Leer un valor, calcular y escribir su logaritmo en una base dada. Por ejemplo logaritmo
en base 2 de 8, debe imprimir 3.

In [46]:
def calcular_log(x, base):
  z = base*1
  cont = 1
  while z < x:
    z *= base
    cont += 1
  return cont

x = int(input('Ingrese el número al cual le quiere calcular su logaritmo: '))
base = int(input('Ingrese el número de la base del logaritmo: '))

res = calcular_log(x, base)
print(f'El logaritmo de {x} en base {base} es: {res}')

Ingrese el número al cual le quiere calcular su logaritmo: 32
Ingrese el número de la base del logaritmo: 2
El logaritmo de 32 en base 2 es: 5

22. Leer una fecha en formato numérico AAAAMMDD, lo escriba como AAAA/MM/DD.
Por ejemplo, 20200601 debe escribir 2020/06/01

In [88]:
def format_fecha(x):
  fecha_str = str(x)

  año = fecha_str[:4]
  mes = fecha_str[4:6]
  dia = fecha_str[6:]

  formato = f'{año}/{mes}/{dia}'

  return formato

fecha = 20200601

res = format_fecha(fecha)
print(f'cambiando el formato de la fecha {fecha} quedaria: {res}')

cambiando el formato de la fecha 20200601 quedaria: 2020/06/01

23. Diseñar programa que lea un número dado no mayor de 9 y genere y escriba el siguiente
triángulo hasta ese número.

In [55]:
def generar_triangulo(n):
    """Genera y muestra un triángulo numérico con el formato especificado."""
    if n < 1 or n > 9:
        raise ValueError("El número debe estar en el rango de 1 a 9")

    # Calcular el ancho máximo para la alineación
    max_width = 2 * n - 1

    for i in range(1, n + 1):
        # Construir la parte ascendente
        parte_ascendente = ''.join(str(j) for j in range(1, i + 1))
        # Construir la parte descendente
        parte_descendente = ''.join(str(j) for j in range(i - 1, 0, -1))
        # Construir la línea completa
        linea = parte_ascendente + parte_descendente
        # Alinear la línea al centro
        linea_ajustada = linea.center(max_width)
        # Imprimir la línea ajustada
        print(linea_ajustada)

def main():
    try:
        # Leer el número del usuario
        numero = int(input("Introduce un número no mayor de 9: "))
        generar_triangulo(numero)
    except ValueError as e:
        print(f"Error: {e}")

# Ejecutar el programa principal
if __name__ == "__main__":
    main()

Introduce un número no mayor de 9: 9
        1
       121
      12321
     1234321
    123454321
   12345654321
  1234567654321
 123456787654321
12345678987654321

24. Diseñar un algoritmo que lea un valor X (dado en radianes) y calcule el valor de la función
trigonométrica seno así:
sen x = x/1! – x3/3! + x5/5!+...

In [62]:
# prompt: Diseñar un algoritmo que lea un valor X (dado en radianes) y calcule el valor de la función trigonométrica seno así: sen x = x/1! – x3/3! + x5/5!+...

import math

def calcular_seno(x, num_terminos):
    """Calcula el seno de x usando la serie de Taylor hasta num_terminos."""
    seno = 0
    for i in range(num_terminos):
        signo = (-1) ** i
        termino = x ** (2 * i + 1) / math.factorial(2 * i + 1)
        seno += signo * termino
    return seno

def main():
    # Leer el valor de x en radianes
    x = float(input("Introduce el valor de x en radianes: "))

    # Número de términos en la serie de Taylor
    num_terminos = 10  # Puedes ajustar este valor para mayor precisión

    # Calcular el seno de x
    seno_x = calcular_seno(x, num_terminos)

    # Mostrar el resultado
    print(f"El seno de {x} radianes es aproximadamente: {seno_x}")

if __name__ == "__main__":
    main()

Introduce el valor de x en radianes: 3
El seno de 3.0 radianes es aproximadamente: 0.14112000785871492

25. Realizar un algoritmo que lea un vector (lista). Conformar un segundo vector (lista) que
contenga los elementos positivos y otro que contenga los elementos negativos del vector
(lista) inicial. Escribir todos los vectores generados.

In [63]:
def separar_lista(L):
  lista_pos = []
  lista_neg = []
  for i in L:
    if i < 0:
      lista_neg.append(i)
    else:
      lista_pos.append(i)
  return f'La lista con valores positivos es: {lista_pos} y la lista con valores negativos es: {lista_neg}'

lista = [-3, -2 , -1, 0, 1, 2, 3]

res = separar_lista(lista)
print(f'la lista original es {lista}; {res}')

la lista original es [-3, -2, -1, 0, 1, 2, 3]; La lista con valores positivos es: [0, 1, 2, 3] y la lista con valores negativos es: [-3, -2, -1]

26. Realizar un algoritmo que lea dos vectores (listas) y encuentre y escriba los elementos
que sean iguales en los dos

In [66]:
def valores_iguales(a, b):
  lista = []
  for i in a:
    for j in b:
      if i == j:
        lista.append(i)
  return lista

vector_A = [1, 5, 3, 7, 9, 10]
vector_B = [2, 4, 5, 6, 8, 10]

res = valores_iguales(vector_A, vector_B)

print(f'Los numeros que son iguales en ambos vectores son: {res}')

Los numeros que son iguales en ambos vectores son: [5, 10]

27. Calcular el número de elementos positivos, negativos y cero de un vector (lista) dado.

In [71]:
def calcular_numeros(V):
  suma_pos = 0
  suma_neg = 0
  v_neg = []
  v_pos = []

  for v in V:
    if v < 0:
      v_neg.append(v)
      A = len(v_neg)
      suma_neg += v

    elif v > 0:
      v_pos.append(v)
      B = len(v_pos)
      suma_pos += v

    else:
      print(f'El calculo de cero es: {0}')
  return f'La suma de los numeros positivos del vector {v} es: {suma_pos} La suma de los valores negativos del vector {v} es: {suma_neg}'



vector = [-3, -2, -1, 0, 1, 2, 3]

res = calcular_numeros(vector)

print(res)

El calculo de cero es: 0
La suma de los numeros positivos del vector 3 es: 6 La suma de los valores negativos del vector 3 es: -6

28. Leer los coeficientes de un polinomio de grado n, calcular su derivada.

In [72]:
def calcular_derivada(coeficientes):
    """Calcula los coeficientes de la derivada de un polinomio dado."""
    n = len(coeficientes) - 1
    if n == 0:
        return [0]  # La derivada de una constante es 0

    # Calcular los coeficientes de la derivada
    coeficientes_derivada = []
    for i in range(n):
        coeficiente_derivado = coeficientes[i] * (n - i)
        coeficientes_derivada.append(coeficiente_derivado)

    return coeficientes_derivada

# Leer el grado del polinomio
n = int(input("Introduce el grado del polinomio: "))

# Leer los coeficientes del polinomio (de mayor a menor grado)
coeficientes = []
for i in range(n + 1):
    coef = float(input(f"Introduce el coeficiente de x^{n-i}: "))
    coeficientes.append(coef)

# Calcular la derivada
coeficientes_derivada = calcular_derivada(coeficientes)

# Mostrar los resultados
print("Coeficientes de la derivada del polinomio:")
for i, coef in enumerate(coeficientes_derivada):
    grado = len(coeficientes_derivada) - i - 1
    print(f"Coeficiente de x^{grado}: {coef}")

Introduce el grado del polinomio: 4
Introduce el coeficiente de x^4: 5
Introduce el coeficiente de x^3: -3
Introduce el coeficiente de x^2: 8
Introduce el coeficiente de x^1: 2
Introduce el coeficiente de x^0: 1
Coeficientes de la derivada del polinomio:
Coeficiente de x^3: 20.0
Coeficiente de x^2: -9.0
Coeficiente de x^1: 16.0
Coeficiente de x^0: 2.0

29. Leer los coeficientes de un polinomio de grado n, calcular su integral entre dos límites
dados.

In [74]:
def calcular_integral_indefinida(coeficientes):
    """Calcula los coeficientes de la integral indefinida de un polinomio dado."""
    n = len(coeficientes) - 1
    coeficientes_integral = []

    # Calcular los coeficientes de la integral
    for i in range(n + 1):
        coeficiente_integrado = coeficientes[i] / (n - i + 1)
        coeficientes_integral.append(coeficiente_integrado)

    # Añadir la constante de integración (se puede omitir ya que no afecta el cálculo definido)
    coeficientes_integral.append(0)  # Esto representa la constante de integración
    return coeficientes_integral

def evaluar_integral(coeficientes_integral, x):
    """Evalúa la integral indefinida en un punto x usando los coeficientes de la integral."""
    resultado = 0
    n = len(coeficientes_integral) - 1
    for i in range(n + 1):
        resultado += coeficientes_integral[i] * (x ** (n - i + 1))
    return resultado

# Leer el grado del polinomio
n = int(input("Introduce el grado del polinomio: "))

# Leer los coeficientes del polinomio (de mayor a menor grado)
coeficientes = []
for i in range(n + 1):
    coef = float(input(f"Introduce el coeficiente de x^{n-i}: "))
    coeficientes.append(coef)

# Leer los límites de integración
a = float(input("Introduce el límite inferior de integración: "))
b = float(input("Introduce el límite superior de integración: "))

# Calcular los coeficientes de la integral indefinida
coeficientes_integral = calcular_integral_indefinida(coeficientes)

# Evaluar la integral definida entre los límites
valor_integral_a = evaluar_integral(coeficientes_integral, a)
valor_integral_b = evaluar_integral(coeficientes_integral, b)
valor_integral_definida = valor_integral_b - valor_integral_a

# Mostrar los resultados
print(f"La integral definida del polinomio desde {a} hasta {b} es: {valor_integral_definida}")

Introduce el grado del polinomio: 2
Introduce el coeficiente de x^2: 4
Introduce el coeficiente de x^1: 3
Introduce el coeficiente de x^0: 1
Introduce el límite inferior de integración: 0
Introduce el límite superior de integración: 4
La integral definida del polinomio desde 0.0 hasta 4.0 es: 453.3333333333333

30. Se tienen dos vectores (listas). Se debe crear otros 3 vectores. El primero, con la suma
de los elementos respectivos, otro con el producto y el último con la diferencia (si la
diferencia es negativa, coloque cero como valor)

In [87]:
def suma_vectores(v1, v2):
    return [x + y for x, y in zip(v1, v2)] #zip(v1, v2) combina ambas listas en pares de elementos

def producto_escalar(v1, v2):
    return sum(x * y for x, y in zip(v1, v2))

def resta_vectores(v1, v2):
    A = [x - y for x, y in zip(v1, v2)]
    for i in A:
      if i <= 0:
        A[i] = 0
    return A

v1 = [1, 4, 5]
v2 = [2, 3, 7]

res1 = suma_vectores(v1, v2)
res2 = producto_escalar(v1, v2)
res3 = resta_vectores(v1, v2)

print(f'La suma de los vectores es: {res1}. El producto de los vectores es: {res2}. La resta de los vectores es: {res3}')

La suma de los vectores es: [3, 7, 12]. El producto de los vectores es: 49. La resta de los vectores es: [0, 1, 0]

31. Leer una fecha en formato numérico AAAAMMDD, lo escriba como DD de mes de
AAAA. Por ejemplo, 20130419 debe escribir 19 de Abril de 2013.

In [89]:
def formatear_fecha(fecha_str):
    # Extraer el año, mes y día
    año = fecha_str[:4]
    mes = int(fecha_str[4:6])  # Convertir el mes a entero
    día = fecha_str[6:8]

    # Lista de nombres de meses en español
    nombres_meses = [
        'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
        'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
    ]

    # Obtener el nombre del mes
    nombre_mes = nombres_meses[mes - 1]  # Restar 1 porque los índices empiezan en 0

    # Formatear la fecha en el formato deseado
    fecha_formateada = f"{día} de {nombre_mes} de {año}"

    return fecha_formateada

# Ejemplo de uso
fecha_str = '20130419'
resultado = formatear_fecha(fecha_str)
print(resultado)

19 de Abril de 2013

32. Leer una fecha como mes y día, determinar si es una fecha válida. Por ejemplo 30 de
febrero debería escribir que no es válida.

In [92]:
def es_bisiesto(anio):
    """Determina si un año es bisiesto."""
    return (anio % 4 == 0 and anio % 100 != 0) or (anio % 400 == 0)

def es_fecha_valida(dia, mes, anio):
    """Determina si una fecha en formato día/mes/año es válida."""
    # Días en cada mes
    dias_en_mes = {
        1: 31, 2: 28, 3: 31, 4: 30, 5: 31, 6: 30,
        7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31
    }

    # Ajustar febrero en años bisiestos
    if es_bisiesto(anio):
        dias_en_mes[2] = 29

    # Verificar si el mes es válido
    if mes < 1 or mes > 12:
        return False

    # Verificar si el día es válido para el mes
    if dia < 1 or dia > dias_en_mes[mes]:
        return False

    return True

# Ejemplo de uso
dia = 29
mes = 2
anio = 2024  # Puedes cambiar el año para probar diferentes casos

if es_fecha_valida(dia, mes, anio):
    print(f"La fecha {dia} de {mes} de {anio} es válida.")
else:
    print(f"La fecha {dia} de {mes} de {anio} no es válida.")

La fecha 29 de 2 de 2024 es válida.

33. Leer dos vectores (listas), calcular y escribir el producto punto de ambos.

In [93]:
def producto_escalar(v1, v2):
    return sum(x * y for x, y in zip(v1, v2))

v1 = [1, 4, 5]
v2 = [2, 3, 7]

res = producto_escalar(v1, v2)
print(f'El producto de los dos vectores es: {res}')

El producto de los dos vectores es: 49

34. Realizar un algoritmo que lea un vector (lista) y genere un nuevo vector ordenado
descendentemente.

In [94]:
vector = [10, 2, 25, 15, 4, 33, 25]
vector_ordenado = sorted(vector)  #Función que ordena las listas de manera descendente
print(f'El vector ordenado descentemente es: {vector_ordenado}')

El vector ordenado descentemente es: [2, 4, 10, 15, 25, 25, 33]

35. Realizar un algoritmo que lea un vector (lista) y calcule la diferencia más grande entre 2
elementos consecutivos de este vector.

In [96]:
def diferencia_mas_grande(x):
  max_diferencia = 0

  for i in range(len(x)-1):
    diferencia = abs(x[i]-x[i+1])

    if diferencia > max_diferencia:
      max_diferencia = diferencia

  return max_diferencia

vector = [1, 5, 3, 19, 2, 7]

res = diferencia_mas_grande(vector)
print(f'La mayor diferencia entre los números consevutivos del vector es {res}')

La mayor diferencia entre los números consevutivos del vector es 17

36. Crear y escribir un vector (lista) de 20 elementos, asignando a cada elemento un valor
igual al negativo del inverso de la posición que ocupa.

In [97]:
vector = []

# Llenar el vector con los valores negativos del inverso de su posición
for i in range(1, 21):  # La indexación empieza desde 1 hasta 20
    valor = -1 / i  # Calcular el negativo del inverso de la posición
    vector.append(valor)  # Agregar el valor al vector

# Imprimir el vector
print(vector)

[-1.0, -0.5, -0.3333333333333333, -0.25, -0.2, -0.16666666666666666, -0.14285714285714285, -0.125, -0.1111111111111111, -0.1, -0.09090909090909091, -0.08333333333333333, -0.07692307692307693, -0.07142857142857142, -0.06666666666666667, -0.0625, -0.058823529411764705, -0.05555555555555555, -0.05263157894736842, -0.05]

37. Leer un vector (lista) y un valor. Determinar e imprimir si el valor se encuentra en el
vector y cuántas veces.

In [102]:
def determinar_valor(x, y):
  cont = 0
  strg = 0
  for i in x:
    if y == i:
      cont += 1
      strg = f'El valor {y} se encuentra en la lista'
    else:
      strg = f'El valor {y} no se encuentra en la lista'
  return f'{strg}, {cont} veces'

vector = [1, 2, 2, 3, 3, 3]
valor = 3

res = determinar_valor(vector, valor)
print(res)

El valor 3 se encuentra en la lista, 3 veces

38. Calcular y escribir el valor máximo, mínimo, promedio, mediana, desviación estándar y
varianza un vector (lista). Para el máximo y el mínimo, debe calcular además su posición
en el vector.

In [103]:
def calcular_estadisticas(vector):
    # Verificar si el vector tiene al menos 1 elemento
    if len(vector) == 0:
        raise ValueError("El vector no puede estar vacío.")

    # Inicializar valores para los cálculos
    suma = 0
    n = len(vector)

    # Encontrar el máximo y el mínimo y sus posiciones
    maximo = vector[0]
    minimo = vector[0]
    posicion_maximo = 0
    posicion_minimo = 0

    for i in range(n):
        valor = vector[i]
        suma += valor

        if valor > maximo:
            maximo = valor
            posicion_maximo = i

        if valor < minimo:
            minimo = valor
            posicion_minimo = i

    # Calcular el promedio
    promedio = suma / n

    # Calcular la mediana
    vector_ordenado = sorted(vector)
    if n % 2 == 0:
        mediana = (vector_ordenado[n//2 - 1] + vector_ordenado[n//2]) / 2
    else:
        mediana = vector_ordenado[n//2]

    # Calcular la varianza
    suma_cuadrados = sum((x - promedio) ** 2 for x in vector)
    varianza = suma_cuadrados / (n - 1) if n > 1 else 0

    # Calcular la desviación estándar
    desviacion_estandar = varianza ** 0.5

    return {
        'maximo': maximo,
        'posicion_maximo': posicion_maximo,
        'minimo': minimo,
        'posicion_minimo': posicion_minimo,
        'promedio': promedio,
        'mediana': mediana,
        'varianza': varianza,
        'desviacion_estandar': desviacion_estandar
    }

# Ejemplo de uso
vector = [3, 9, 15, 6, 12, 4, 8, 5, 7, 10, 2, 14, 11, 13, 1, 16, 17, 18, 19, 20]

estadisticas = calcular_estadisticas(vector)

print("Valor máximo:", estadisticas['maximo'])
print("Posición del valor máximo:", estadisticas['posicion_maximo'])
print("Valor mínimo:", estadisticas['minimo'])
print("Posición del valor mínimo:", estadisticas['posicion_minimo'])
print("Promedio:", estadisticas['promedio'])
print("Mediana:", estadisticas['mediana'])
print("Varianza:", estadisticas['varianza'])
print("Desviación estándar:", estadisticas['desviacion_estandar'])

Valor máximo: 20
Posición del valor máximo: 19
Valor mínimo: 1
Posición del valor mínimo: 14
Promedio: 10.5
Mediana: 10.5
Varianza: 35.0
Desviación estándar: 5.916079783099616

39. Para un vector (lista) de números enteros, calcular e imprimir la suma de los valores pares
y el promedio de los impares.

In [106]:
def calcular_vector(x):
  vec_imp = []
  vec_par = []
  suma_par = 0
  suma_imp = 0
  for i in x:
    if i % 2 == 0:
      vec_par.append(i)
      suma_par += i
    else:
      vec_imp.append(i)
      suma_imp += i

  promedio_imp = suma_imp/len(vec_imp)

  return f'La suma de los números pares del vector {x} es: {suma_par}, y el promedio de los impares del vector {x} es: {promedio_imp}'



vector = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

res = calcular_vector(vector)
print(res)

La suma de los números pares del vector [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] es: 30, y el promedio de los impares del vector [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] es: 5.0

40. Leer un vector (lista) de enteros, escribir los valores múltiplos de 7.

In [107]:
vector = [1, 7, 8, 12, 14, 15, 21, 25, 28]
mult_7 = []
for i in vector:
  if i % 7 == 0:
    mult_7.append(i)

print(f'Los valores multiplos de 7 que se encuentran en el vector {vector} son: {mult_7}')

Los valores multiplos de 7 que se encuentran en el vector [1, 7, 8, 12, 14, 15, 21, 25, 28] son: [7, 14, 21, 28]

41. Para un vector (lista), calcular y escribir el número de valores repetidos del vector

In [108]:
def contar_repetidos(vector):
    # Crear un diccionario para contar las ocurrencias de cada elemento
    conteo = {}

    for valor in vector:
        if valor in conteo:
            conteo[valor] += 1
        else:
            conteo[valor] = 1

    # Contar cuántos valores tienen más de una ocurrencia
    repetidos = sum(1 for count in conteo.values() if count > 1)

    return repetidos

# Ejemplo de uso
vector = [3, 9, 15, 6, 12, 4, 8, 5, 7, 10, 2, 14, 11, 13, 1, 16, 17, 18, 19, 20, 3, 9]

num_repetidos = contar_repetidos(vector)

print("Número de valores repetidos:", num_repetidos)

Número de valores repetidos: 2

42. Leer un vector, generar otro que devuelva los mismos elementos pero sin elementos
repetidos

In [3]:
def eliminar_repetidos(vector):
    # Usar un conjunto para eliminar duplicados
    conjunto = set(vector)

    # Convertir el conjunto de vuelta a una lista
    vector_sin_repetidos = list(conjunto)

    return vector_sin_repetidos

# Ejemplo de uso
vector = [3, 9, 15, 6, 12, 4, 8, 5, 7, 10, 2, 14, 11, 13, 1, 16, 17, 18, 19, 20, 3, 9]

vector_sin_repetidos = eliminar_repetidos(vector)

print("Vector original:", vector)
print("Vector sin elementos repetidos:", vector_sin_repetidos)

Vector original: [3, 9, 15, 6, 12, 4, 8, 5, 7, 10, 2, 14, 11, 13, 1, 16, 17, 18, 19, 20, 3, 9]
Vector sin elementos repetidos: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

43. Leer un vector, calcular y escribir su norma.

In [4]:
import math

def calcular_norma(vector):
    # Calcular la suma de los cuadrados de los elementos del vector
    suma_cuadrados = sum(x ** 2 for x in vector)

    # Calcular la raíz cuadrada de la suma de los cuadrados
    norma = math.sqrt(suma_cuadrados)

    return norma

# Ejemplo de uso
vector = [3, 4, 5]

norma = calcular_norma(vector)

print("Norma del vector:", norma)

Norma del vector: 7.0710678118654755

44. Leer dos vectores, calcular y escribir el ángulo generado entre ellos

In [5]:
import math

def calcular_producto_punto(v1, v2):
    # Calcular el producto punto de dos vectores
    return sum(x * y for x, y in zip(v1, v2))

def calcular_norma(vector):
    # Calcular la norma de un vector
    suma_cuadrados = sum(x ** 2 for x in vector)
    return raiz_cuadrada(suma_cuadrados)

def raiz_cuadrada(numero, precision=0.00001):
    """ Calcular la raíz cuadrada de un número usando el método de aproximación de Newton. """
    estimacion = numero
    while abs(estimacion * estimacion - numero) > precision:
        estimacion = (estimacion + numero / estimacion) / 2
    return estimacion

def calcular_angulo(v1, v2):
    # Calcular el producto punto
    producto_punto = calcular_producto_punto(v1, v2)

    # Calcular las normas de los vectores
    norma_v1 = calcular_norma(v1)
    norma_v2 = calcular_norma(v2)

    # Calcular el coseno del ángulo
    cos_theta = producto_punto / (norma_v1 * norma_v2)

    # Asegurarse de que el valor esté en el rango [-1, 1] debido a posibles errores de precisión
    cos_theta = max(-1, min(1, cos_theta))

    # Calcular el ángulo en radianes usando arccos
    theta = math.acos(cos_theta)

    # Convertir a grados
    theta_grados = theta * (180 / math.pi)

    return theta_grados

# Ejemplo de uso
vector1 = [1, 2, 3]
vector2 = [4, 5, 6]

angulo = calcular_angulo(vector1, vector2)

print("Ángulo entre los vectores (en grados):", angulo)

Ángulo entre los vectores (en grados): 12.933166647186704

45. Leer dos vectores (listas): uno, contiene los códigos de los estudiantes que perdieron
Matemáticas; el otro, contiene los códigos de los estudiantes que perdieron Física.
Generar y escribir un nuevo vector de los códigos de los estudiantes que perdieron
Matemáticas y Física

In [6]:
def encontrar_interseccion(lista1, lista2):
    # Crear un conjunto a partir de la primera lista
    conjunto1 = set(lista1)

    # Crear un conjunto a partir de la segunda lista
    conjunto2 = set(lista2)

    # Encontrar la intersección de los dos conjuntos
    interseccion = conjunto1.intersection(conjunto2)

    # Convertir el conjunto de vuelta a una lista
    lista_interseccion = list(interseccion)

    return lista_interseccion

# Ejemplo de uso
codigos_matematicas = [101, 102, 103, 104, 105, 106]
codigos_fisica = [103, 104, 107, 108, 109]

# Obtener los códigos de estudiantes que perdieron tanto Matemáticas como Física
codigos_reprobados = encontrar_interseccion(codigos_matematicas, codigos_fisica)

print("Códigos de estudiantes que perdieron tanto Matemáticas como Física:", codigos_reprobados)

Códigos de estudiantes que perdieron tanto Matemáticas como Física: [104, 103]

46. Realizar algoritmo que lea un vector (lista), correspondientes a los nombres de un grupo
de personas y los liste por impresora en orden contrario al que fue leído.

In [7]:
def imprimir_nombres_invertidos(nombres):
    # Invertir la lista de nombres
    nombres_invertidos = nombres[::-1]

    # Imprimir los nombres en orden inverso
    for nombre in nombres_invertidos:
        print(nombre)

# Ejemplo de uso
nombres = [
    "Ana",
    "Luis",
    "María",
    "Carlos",
    "Sofía"
]

print("Nombres en orden inverso:")
imprimir_nombres_invertidos(nombres)

Nombres en orden inverso:
Sofía
Carlos
María
Luis
Ana

47. Dado un vector, generar otros dos vectores; uno, con los elementos pares y otro, con los
elementos impares del vector original

In [8]:
def separar_pares_impares(vector):
    # Crear dos listas vacías para pares e impares
    pares = []
    impares = []

    # Iterar sobre el vector original
    for elemento in vector:
        if elemento % 2 == 0:
            pares.append(elemento)
        else:
            impares.append(elemento)

    return pares, impares

# Ejemplo de uso
vector_original = [10, 15, 20, 25, 30, 35, 40, 45]

# Obtener los vectores de pares e impares
vectores_pares, vectores_impares = separar_pares_impares(vector_original)

print("Vectores de elementos pares:", vectores_pares)
print("Vectores de elementos impares:", vectores_impares)

Vectores de elementos pares: [10, 20, 30, 40]
Vectores de elementos impares: [15, 25, 35, 45]

48. Leer 2 vectores, calcular y escribir si son iguales.

In [9]:
def son_vectores_iguales(vector1, vector2):
    # Verificar si los vectores tienen la misma longitud
    if len(vector1) != len(vector2):
        return False

    # Comparar cada elemento en la misma posición
    for elemento1, elemento2 in zip(vector1, vector2):
        if elemento1 != elemento2:
            return False

    return True

# Ejemplo de uso
vector1 = [1, 2, 3, 4, 5]
vector2 = [1, 2, 3, 4, 5]

vector3 = [1, 2, 3, 4, 6]

# Comparar los vectores
son_iguales1 = son_vectores_iguales(vector1, vector2)
son_iguales2 = son_vectores_iguales(vector1, vector3)

print("El primer par de vectores es igual:", son_iguales1)
print("El segundo par de vectores es igual:", son_iguales2)

El primer par de vectores es igual: True
El segundo par de vectores es igual: False

49. Leer 2 vectores que representen conjuntos. Diseñar los métodos que calculen y escriban
el conjunto unión, el conjunto intersección. Debe tenerse en cuenta que los conjuntos no
tienen elementos repetidos.

In [10]:
def calcular_union(vector1, vector2):
    # Convertir las listas en conjuntos para eliminar duplicados y realizar la operación de unión
    conjunto1 = set(vector1)
    conjunto2 = set(vector2)

    # Calcular la unión de los dos conjuntos
    union = conjunto1.union(conjunto2)

    # Convertir el conjunto resultante a una lista
    return list(union)

def calcular_interseccion(vector1, vector2):
    # Convertir las listas en conjuntos para eliminar duplicados y realizar la operación de intersección
    conjunto1 = set(vector1)
    conjunto2 = set(vector2)

    # Calcular la intersección de los dos conjuntos
    interseccion = conjunto1.intersection(conjunto2)

    # Convertir el conjunto resultante a una lista
    return list(interseccion)

# Ejemplo de uso
vector1 = [1, 2, 3, 4, 5]
vector2 = [4, 5, 6, 7, 8]

# Calcular y mostrar la unión de los conjuntos
union = calcular_union(vector1, vector2)
print("Conjunto unión:", union)

# Calcular y mostrar la intersección de los conjuntos
interseccion = calcular_interseccion(vector1, vector2)
print("Conjunto intersección:", interseccion)

Conjunto unión: [1, 2, 3, 4, 5, 6, 7, 8]
Conjunto intersección: [4, 5]

50. Dado un valor entre 0 y 100. Escribirlo en letras. Por ejemplo 43, debe escribir cuarenta
y tres

In [11]:
def numero_a_palabras(numero):
    if not (0 <= numero <= 100):
        raise ValueError("El número debe estar entre 0 y 100")

    unidades = ["cero", "uno", "dos", "tres", "cuatro", "cinco", "seis", "siete", "ocho", "nueve"]
    diez_a_quinientos = ["diez", "once", "doce", "trece", "catorce", "quince"]
    dieciséis_a_veintinueve = ["dieciséis", "diecisiete", "dieciocho", "diecinueve", "veinte",
                              "veintiuno", "veintidós", "veintitrés", "veinticuatro", "veinticinco",
                              "veintiséis", "veintisiete", "veintiocho", "veintinueve"]
    decenas = ["", "", "veinte", "treinta", "cuarenta", "cincuenta", "sesenta", "setenta", "ochenta", "noventa"]

    if numero == 100:
        return "cien"

    if 0 <= numero < 10:
        return unidades[numero]

    if 10 <= numero < 16:
        return diez_a_quinientos[numero - 10]

    if 16 <= numero < 30:
        return dieciséis_a_veintinueve[numero - 16]

    if 30 <= numero < 100:
        decena = numero // 10
        unidad = numero % 10
        if unidad == 0:
            return decenas[decena]
        else:
            return f"{decenas[decena]} y {unidades[unidad]}"

# Ejemplo de uso
numero = 43
print(f"{numero} en palabras es: {numero_a_palabras(numero)}")

43 en palabras es: cuarenta y tres

 51. Leer un vector (lista) con valores estandarizados entre 1 y 100. Generar y escribir un
histograma con las frecuencias de cada valor. Se debe usar el carácter asterisco (‘*’).
Por ejemplo, la secuencia: 4, 4,4,2,75,4,20, 1, 2, 20, 3, 3,4,4,4,53,3,60,75,90 debe:
1: *
2: **
3: ***
4: *******
4: ***
20:**
53:*
60:*
75:**
90:*

In [12]:
from collections import Counter

# Definir la lista de valores
valores = [4, 4, 4, 2, 75, 4, 20, 1, 2, 20, 3, 3, 4, 4, 4, 53, 3, 60, 75, 90]

# Contar las frecuencias de cada valor
frecuencias = Counter(valores)

# Imprimir el histograma
for valor in sorted(frecuencias):
    print(f"{valor}: {'*' * frecuencias[valor]}")

1: *
2: **
3: ***
4: *******
20: **
53: *
60: *
75: **
90: *